html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

table,
td,
th {
  border: 1px solid #aaa;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 30px;
}

td {
  text-align: center;
  padding: 5px;
}


body {
  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;

  background-color: gainsboro;
  overflow: hidden;
}

header {
  height: 5%;
  width: 100%;

  margin: 0;
  padding: 0;

  background-color: #333;
  color: white;
  text-align: left;

  font-size: 1em;
}

.nav {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 5%;

  margin: 0;
  padding: 0;

  background-color: #333;
  color: white;
  text-align: center;
}

.content {
  position: absolute;
  top: 5%;

  width: 100%;
  height: 90%;

  margin: 0;
  padding: 0;

  background-color: lightblue;
}

.form {
  margin-top: 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.chat-window {
  width: 200px;
  height: 300px;

  display: flex;
  flex-direction: column;

  background-color: burlywood;
}

.chat-window .chat-header {
  height: 30px;
  background-color: #333;
  color: white;
  text-align: center;
}

.chat-window .chat-body {
  flex: 1;
  overflow-y: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.chat-window .chat-footer {
  height: 30px;

  background-color: #333;
  color: white;

  text-align: center;
}

.chat-window .chat-footer textarea {
  height: 28px;
}

.chat-window .chat-footer button {
  height: 28px;
  vertical-align: middle;
}

.padding-6 {
  padding: 6px;
}

.margin-0 {
  margin: 0;
}

.text-area-no-resize {
  resize: none;
}